/**
 * Default main CSS style for Geo.
 * @author niwi.cz
 * @date 24.11.2014
 */

/* Google fonts */
@import url(http://fonts.googleapis.com/css?family=Armata&subset=latin-ext,latin);

/*
 --
   Layout
 --
*/
body {
    font-family: 'Armata', sans-serif;
    background-color: #332222;
}
#layout {
    margin: 0 auto 1.5% auto;
    max-width: 1200px;
    background-color: white;
}
#top {
    background-color: #990000;
}
#logo-link {
    display: inline-block;
}
#top-right {
    display: inline-block;
    min-height: 90px;
    text-decoration: none; /* necessary for the inner text */
    vertical-align: bottom;
}
#top-link {
    display: block;
    padding: 10px 0.5em;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

/* Menu */
ul.menu{
    list-style: none;
    font-size: 0.85em;
}
ul.menu li {
    display: inline-block;
}
ul.menu li a {
    display: block;
    height: 28px;
    padding: 0 0.6em;
    line-height: 30px;
    border-style: solid;
    border-color: #8b0014;
    border-width: 2px 2px 0 2px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    text-decoration: none;
    background-color: #AA0000;
    color: #DDCCCC;
    font-weight: bold;
}
ul.menu li.active a {
    background-color: #FFFAFA;
    color: #990000;
}
ul.menu li a:hover {
    background-color: white;
    color: #990000;
}
ul.menu ul {
    margin: 0 0 0 10px;
    padding: 0;
}
ul.menu ul li {
    border: none;
}
ul.menu ul li a {
    color: gray;
}


#layout #content {
    float: left;
    width: 100%;
    line-height: 1.8em;
}
#layout #content-inner {
    margin: 1.4em 1em 2.2em 1em;
}
#layout #left {
    float: left;
    width: 174px;
    border-right: 1px dotted gray;
    overflow: hidden;
}

#layout #footer {
    clear: both;
    padding: 1em;
    background-color: #332222;
    color: gray;
    font-size: 0.8em;
}
#layout #footer a {
    color: #CCCCCC;
 }
#layout #footer a:hover {
    color: white;
}
#login-button {
    display: inline-box;
}
#login {
    display: none;
}
#login legend {
    color: white;
    font-size: 1.15em;
    font-weight: bold;
}
#login fieldset, #login.loginbox {
     width: 300px;
     padding: 8px;
 }



/*
   Basic page elements
*/

h1 {
}

a {
    color: #990000;
}
a:hover {
    color: black;
}
textarea {
    width: 450px;
    height: 180px;
}



/* Index page (filters) */
.cell {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 10px;
}
.cell form {
    text-align: center;
}
.cell form table {
    text-align: left;
}
.cell:first-of-type {
    border-right: 4px solid #dabeba;
}
#category-filter li {
    list-style: none;
}
#category-filter a {
    text-decoration: none;
}
#category-filter a:hover {
    text-decoration: underline;
}
#category-filter .items-count {
    color: #999999;
    font-size: 0.9em;
}
#search-form tr:first-of-type {
    height: 3.6em;
    background-color: #EEEEEE;
}
#search-form tr:first-of-type label {
    padding: 0 3px;
    font-size: 0.8em;
    font-weight: normal;
 }
#search-form .star {
    display: none;
}
#search-string {
    width: 100%;
    font-size: 1.5em;
    border-color: #dabeba;
}
.fb-div .content-cell {
    width: 50%;
}

hr {
    border-top: 4px solid #dabeba;
}
.cell.bottom {
    font-size: 0.8em;
    line-height: 1.3em;
}
/* Style for small devices: right col on the bottom */
@media (max-width: 640px) {
    .cell {
        display: inline-block;
        width: 100%;
    }
    .cell:first-of-type {
        border-right: none;
    }
}



/* GS Forms listing */
div#gsf-info-bar {
    background-color: #F5F5F5;
    padding: 0 3px;
}
div#gsf-info-bar.detail {
    float: right;
    background-color: transparent;
 }
table.gs-formListTable {
    width: 100%;
    border: 1px solid #dabeba;
}
table.gs-formListTable th {
    background-color: #DA9065;
    border-color: #dabeba;
}
table.gs-formListTable td {
    padding: 0 3px;
    border-color: #dabeba;
    background-color: #fff9f8;
}
table.gs-formListTable td:first-of-type {
     padding-left: 0.5em;
}
table.gs-formListTable td a {
    text-decoration: none;
}
table.gs-formListTable td.category {
    font-size: 0.8em;
    color: #666666;
}
table.gs-formListTable td.main-center a {
    display: block;
    width: 100%;
    text-align: center;
}

/* GS Forms listing - examples */
#examples a {
    display: inline-block;
    padding: 3px;
    border: 2px solid #bbcb8b;
    border-bottom-right-radius: 1em;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    color: #222222;
}
#examples a:hover {
    background-color: #bbcb8b;
}
#examples a img {
    margin: auto;
}

/* GS Forms detail */
.top-info .gray {
    color: #AAAAAA;
}
#gsf-action-print {
    background: url('/images/system/icons/printer.png') no-repeat right;
}
#gsf-action-normal {
    background: url('/images/system/icons/monitor.png') no-repeat right;
}

.detail-box {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    line-height: 1.6em;
}
.detail-box .subbox {
    margin: 0.4em 0.2em;
    padding: 0.6em 0.42em 1em 0.4em;
    background-color: #F8F8F8;
}
.detail-box h2 {
    padding: 0em 0 0.4em 0;
    color: #221111;
    font-size: 1.1em;
}
.detail-box img {
    width: 90%;
    display: block;
    margin: auto;
}

.first-box {
    width: 30%;
}
.first-box .description {
    margin: 1em 0;
}

.second-box {
    width: 30%;
}
.detail-box .note {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #666666;
}

.third-box {
     width: 37%;
 }
.detail-box .measure img, .detail-box .draw img {
    float: right;
    width: auto;
}